.formContainer {
    /* margin-top: 10%; */
    background-color:rgb(80, 185, 226);
    border: 5px black solid;
    margin-left: 10%;
    margin-right: 10%;
    font-family: Orbitron;
    padding: 2em;

}
input {
    width: 100%;
}

textarea {
    width: 100%;
}


h2 {
    margin-top: 5%;
    text-align: center;
    font-family: Pangolin;
}
h3 {
    margin-bottom: 5%;
    text-align: center;
    font-family: Pangolin;
}

.btn-secondary {
    background-color: black;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

}