.container {
    background-color:rgb(218, 210, 210);
    border: 5px black solid;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    font-family: Pangolin;
    padding: 1em;
    display: inline-block;
}


.placeimg {
    width: 50%;
    height: auto;
    justify-items: flex;
}
